<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    trang có thể uploadfile trong tương lai
    <div>
        <img class="anh" src="/images/b.jpg"/>
    </div>
</body>
</html>